#root {
  display: grid;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

/* Header */
header {
  color: #FFF;
  padding: 1.4rem;
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  column-gap: 0.5rem;
}

.logo .icon {
  width: 2.2rem;
  height: 2.2rem;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.10);
}

header p {
  margin: 0;
  font-size: 0.9rem;
}

/* Main */
.card {
  background: rgba(255, 255, 255, 0.45);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px); /* Safari */
  border-radius: 20px 20px 0 0;
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.15);
  padding: 2rem 0;
}

form {
  padding: 0 1.4rem;
}

form label {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

form button {
  background-color: #7c3aed;
  border-color: transparent;
  color: #FFF;
  margin-top: 18px;
  margin-left: auto;
  box-shadow: 4px 6px 8px 2px rgba(0, 0, 0, 0.1);
}


form button:hover {
  background-color: #6d28d9;
}

nav {
  background: rgba(255, 255, 255, 0.40);
  margin-top: 1.2rem;
  margin-left: -1px;
  margin-right: -1px;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}

nav ul {
  display: flex;
  flex-direction: row;
  column-gap: .8rem;
  justify-content: center;
}

nav button {
  background: none;
  border: none;
  border-radius: 0;
  font-size: 0.9rem;
  color: rgba(15, 23, 42, 0.7);
  text-decoration: none;
  display: inline-block;
  padding: 12px 12px 8px 12px;
  margin: 0 -8px;
}

nav button:focus-visible {
  outline: 2px solid #7c3aed;
  outline-offset: -6px;
  border-radius: 10px;
}

nav button:hover {
  background: none;
  border: none;
  color: rgba(15, 23, 42, 1);
}

nav button.active {
  color: #7c3aed;
  font-weight: 500;
  border-bottom: 2px solid #7c3aed;
}

nav button.active:focus-visible {
  border-bottom-color: transparent;
}

/* Tasks */
.tasks {
  background-color: rgba(255, 255, 255, 0.60);
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  padding: 1rem;
  margin-left: -1px;
  margin-right: -1px;
  font-size: 0.9rem;
}

.tasks li {
  display: flex;
  column-gap: 0.5rem;
  justify-content: flex-start;
  align-items: flex-start;
  border-bottom: 1px solid rgba(15, 23, 42, 0.1);
  padding: 6px 0;
}

.tasks li:last-child {
  border: none;
}

.tasks .task {
  flex: 1;
  padding-right: 1rem;
  padding: .2rem 1rem .2rem 0;
}

.tasks button {
  margin-left: auto;
  font-size: 0.8rem;
  padding: 6px 10px;
}

.empty-state {
  text-align: center;
}

/* Summary */
.summary {
  background-color: rgba(255, 255, 255, 0.60);
  border-top: 1px solid rgba(15, 23, 42, 0.10);
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  color: rgba(15, 23, 42, .7);
  font-size: 0.8rem;
  padding: 0.8rem 1.4rem;
  margin-left: -1px;
  margin-right: -1px;
}

/* Footer */
footer {
  padding: 4rem 1.4rem 2rem 1.4rem;
  color: #FFF;
  text-align: center;
  font-size: 0.8rem;
  max-width: 400px;
  margin: 0 auto;
}

footer p {
  margin: 0;
}

footer a {
  color: #FFF;
  font-weight: 600;
  text-decoration: none;
  display: inline-flex;
  column-gap: 2px;
  align-items: center;
}

footer a:hover {
  text-decoration: underline;
  color: #FFF;
}

/* Media queries */
@media (min-width: 448px) {
  header {
    padding-top: 2rem;
  }
  main {
    padding: 0 2rem;
  }
  
  .card {
    max-width: 400px;
    margin: 0 auto;
    border-radius: 20px;
  }
}