:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  color-scheme: light dark;
  color: #0f172a;
  background-color:#7c3aed;
  background-image:
    radial-gradient(at 65% 25%, hsla(218,65%,66%,1) 0px, transparent 60%),
    radial-gradient(at 74% 54%, hsla(260,98%,62%,1) 0px, transparent 50%),
    radial-gradient(at 96% 47%, hsla(293, 69%, 49%,1) 0px, transparent 50%),
    radial-gradient(at 46% 87%, hsla(263,70%,50%,1) 0px, transparent 50%),
    radial-gradient(at 26% 90%, hsla(316,64%,74%,1) 0px, transparent 50%);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

*::selection {
  background-color: rgba(245, 208, 254, 0.8);
  color: #020617;
}

a {
  color: #0f172a;
  text-decoration: underline;
  padding: 0 2px;
  margin-left: -2px;
  margin-right: -2px;
}

a:hover {
  color: #334155;
}

a:focus-visible {
  outline: 2px solid #e879f9;
  outline-offset: 1px;
  border-radius: 4px;
}

body {
  margin: 0;
}

h1 {
  font-size: 1.6rem;
  line-height: 1.1;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

ul, li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.input-group {
  display: flex;
  flex-direction: column;
}

input {
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  background: rgba(255, 255, 255, 0.50);
  padding: 8px 10px;
  font-size: 1rem;
  font-family: inherit;
  display: block;
  color: inherit;
}

input::placeholder {
  color: rgba(59, 7, 100, 0.5);
}

input:focus-visible {
  outline: 2px solid #7c3aed;
  outline-offset: 2px;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 1.25rem;
  height: 1.25rem;
  border: none;
  border-radius: 4px;
  background: #f1f5f9;
  box-shadow: inset 0 0 0 1px #cbd5e1;
  display: grid;
  place-content: center;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background: #7c3aed;
  box-shadow: none;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.7rem;
  height: 0.7rem;
  transform: scale(0);
  transition: transform 0.15s ease-in-out;
  background-color: white;
  clip-path: polygon(
    14% 44%,
    0 65%,
    50% 100%,
    100% 16%,
    80% 0%,
    43% 62%
  );
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

button {
  display: flex;
  align-items: center;
  column-gap: 4px;
  border-radius: 6px;
  border: 1px solid #cbd5e1;
  padding: 8px 12px;
  font-size: .9rem;
  font-weight: 500;
  background-color: #f1f5f9;
  color: #334155;
  cursor: pointer;
}

button:hover {
  background-color: #FFF;
}

button:focus-visible {
  outline: 2px solid #7c3aed;
  outline-offset: 2px;
}